.login,.register {
    background-image:url(../img/headerbg.png);
    min-width:500px;
    padding:16px 20px;
}   
.content {
    display:flex;
    justify-content:center;   
}
.login h1,.register h1{
    color:#0f813f;
    text-transform:uppercase;
    font-size:3rem;
    line-height:3rem;
}

.container {
    padding:16px 0;
}
.login__group,.register__group {
    font-size:2rem;
    color:#444;
}
    .login__group p,.register__group p {
        margin:8px 0;
    }
.login__group input[type=password],.register__group input[type=date] {
    margin-bottom:8px;
}
input {
    outline:none;
    font-size:1.5rem;
    line-height:1.5rem;
    padding:2px;
}
.btn {
    outline:none;
    border:none;
    cursor:pointer;
    background-color:#0f813f;
    color:white;
    padding:8px 12px;
    border-radius:5px;
}
    .btn.btnLogin {
        margin-top:12px;
        margin-bottom:8px;
    }
p span{
    font-size:1.5rem;
    line-height:2rem;
}
.lbNotifyLogin {
    color:red;
    font-size:2rem;
}