.title {
    text-align: center;
    background-size: contain;
}

.title__link {
    background-position: center;
    padding: 28px 12px 36px;
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
    line-height: 70px;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    min-width:170px;
}

    .title__link::after {
        content: "";
        position: absolute;
        background: url(../img/lbright.png);
        display: block;
        padding: 20px 28px 50px;
        background-repeat: no-repeat;
        top: 18%;
        left: 100%;
    }

    .title__link::before {
        content: "";
        position: absolute;
        background: url(../img/lbleft.png);
        display: block;
        padding: 20px 28px 50px;
        background-repeat: no-repeat;
        top: 18%;
        right: 86%;
    }

.group_book {
    display: flex;
    justify-content: center;
}

    .group_book > ul {
        margin-top: 40px;
        width: 900px;
        padding-left: 24px;
        list-style: none;
        background: url(../img/book_bg.png) repeat-y scroll 0 0 rgba(0,0,0,0);
        padding-left: 55px;
        background-size: contain;
        animation: background 3s linear infinite;
    }

        .group_book > ul > li {
            position: relative;
            display: inline-block;
            padding-bottom: 43px;
            top: -31px;
            left: 0;
            animation: top 3s linear infinite;
            position: relative;
        }

.book__item + .book__item {
    margin-left: 12px;
}

.book__item:first-child {
    margin-left: 12px;
}

@keyframes background {
    0% {
        background-position-y: 1px;
    }

    50% {
        background-position-y: -1px;
    }

    100% {
        background-position-y: 0px;
    }
}

@keyframes top {
    0% {
        top: -30px;
    }

    50% {
        top: -29px;
    }

    100% {
        top: -32px;
    }
}

.book__item-notify {
    background-image: url(../img/book_hover.png);
    padding: 16px;
    display: inline-block;
    position: absolute;
    min-width:200px;
    left:1%;
    top:1%;
    left: 5%;
    top: 44%;
    transform:scale(1,0);
    opacity:0;
    transform-origin:100% 2%;
    transition:all .3s linear;
    z-index:2;
}
.book__item:hover .book__item-notify {
    opacity:1;
    transform:scale(1);
}

    .book__item-notify > h3 {
        font-size: 1.3rem;
        text-transform: uppercase;
        color: white;
        line-height: 1.5rem;
        position: relative;
        top: 9px;
        left: 2%;
        text-align:center;
    }

    .book__item-notify > ul {
        margin: 16px 0 6px;
        list-style-type:square;
        padding-left:20px;
        font-size:1.2rem;
    }
.book__item-price {
    padding-left:6px;
    margin-bottom:8px;
}
.book__item-price-new {
    font-size:2.3rem;
}
.book__item-price-old {
    font-size:1.3rem;
    color:#808080;
    text-decoration:line-through;
    margin-left:4px;
}
.btn {
    outline:none;
    border:none;
    background-color:#0f813f;
    min-width:150px;
    position:relative;
    left:50%;
    transform:translateX(-50%);
    color:white;
    padding:4px;
    border-radius:5px;
    cursor:pointer;
}
    .btn + .btn {
        margin-top:4px;
    }
